[user]
    name = Yusuke TAKEI
    email = sync.outerphase@gmail.com
[http]
    postBuffer = 524288000
    sslverify = false
[color]
    ui = auto
[core]
    autocrlf = input
    editor = vi
    ignoreCase = false
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge --skip -- %f
    process = git-lfs filter-process
[alias]
    logtree = log --graph --all --format=\"%>|(12)%C(yellow bold)(%h)%C(reset) | %<(64,trunc)%s %C(dim bold)(%>(15)%cr)%C(reset) %C(magenta)%<(14,trunc)<%aN>%C(reset) |%C(auto)%d%C(reset)\"
    undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
    ignore = "!gi() { curl -skL https://www.gitignore.io/api/$@ ;}; gi"
[commit]
    template = ~/.git_commit_template

